@import "variables.scss";
@import "bulma.scss";

$border: #242632;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    margin-top: 2em;
    padding: 1em;
    a {
        color: $white;
        font-weight: bold;
    }
    p {
        margin-bottom: 0.5em;
        &:last-of-type()
        {
            margin-bottom: 0;
        }
    }
}

#wrapper {
    flex: 1;
}

.navbar-item img {
    max-height: unset;
    margin-right: 1em;
}

.has-dark-border {
    border-bottom: 3px solid $border;
}

.item-image {
    background-color: $light;
}

.item-card {
    margin: 0.25rem !important;
    padding: 0.5rem !important;
    background-color: $white;
    border-radius: 3px;
}

.form-control {
    @extend .input;
}

.crafting {
    @extend .notification;
    padding: 0.2em;
    margin: 0.2em !important;
    pre {
        background-color: transparent;
        color: white;
        padding: 0.2em;
    }
}

.notification p
{
    margin-bottom: 0.5em;
}