@import url('https://fonts.googleapis.com/css?family=Francois+One|Merriweather+Sans');
h1, h2, h3, h4, h5, h6, label, button {
    font-family: 'Francois One' !important
}

$light: #CACDD4;
$primary: #656980;
$dark: #424453;
$warning: #E89933;
$success: #62B452;

$family-sans-serif: 'Merriweather Sans';
$body-background-color: $light;
$footer-background-color: $dark;

@import '../node_modules/bulma/sass/utilities/_all.sass';